<div class="uk-position-center uk-overlay uk-overlay-default"  style="background-color: rgb(17, 17, 16); opacity: 0.9;border-radius: 10%;" >
  <h1>Réparation</h1>
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Modal"  (click)="show=false">
  <i class="fas fa-plus"></i>
    </button>  <br><br>
    <table  class="uk-table  uk-table-responsive">
        <thead>
            <tr  >
                <th>matricule</th>
                <th>description</th>
                <th>fournisseur</th>
                <th>date</th>
                <th>montant</th>
                
            </tr>
        </thead>
        <tbody  >
            <tr *ngFor="let data of reparations"  >
                <td>{{data.voiture?.matricule}}</td>
                <td>{{data.description}}</td>
                <td>{{data.fournisseur?.nom}}</td>
                <td>{{data.dateReparation | date: 'dd/MM/yyyy'}}</td>
                <td>{{data.montant}}</td>
              
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal" (click)=" modifier(data) ;show=true"    ><i class="fas fa-edit"></i></button>         
               
            </tr>
            
        </tbody>
    </table>
</div>

        <div  class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                 
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div [formGroup]="ReparationForm" class="modal-body">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idMatricule">
                     
                      
                        <option *ngFor="let data of matricules" [value]="data.id" selected >{{data.matricule}}</option>  </select>
                        
                     
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idFournisseur">
                     
                      
                    <option *ngFor="let data of fournisseurs" [value]="data.id" selected >{{data.nom}}</option>  </select>
                    
                 

                  <input type="text" class="form-control"  placeholder="description" formControlName="description">
                  
                  <input type="date" class="form-control" placeholder="date" formControlName="dateReparation">

                  <input type="text"  class="form-control" placeholder="montant" formControlName="montant">
        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="ajouterReparation()"*ngIf="!show"><i class="fas fa-plus"></i></button>
                  <button type="button" class="btn btn-primary" (click)="sauvegarder()" *ngIf="show"><i class="far fa-save"></i></button>
                </div>
              </div>
            </div>
          </div>
