<div class="uk-position-center uk-overlay uk-overlay-default"  style="background-color: rgb(17, 17, 16);opacity: 0.9;border-radius: 10%;  " >
<h1>gestion-véhicules </h1>
<br><br>

<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Modal" (click)="show=false">
  <i class="fas fa-car"></i>
  </button>
<table   class="uk-table  uk-table-responsive ">
    <thead>
        <tr  >
            <th>matricule</th>
            <th>marque</th>
            <th>modèle</th>
            <th>aquisition</th>
            <th>visite</th>
            <th>assurance</th>
             <th>carburant</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of data">
            <td>{{data.matricule}}</td>
            <td>{{data.marque_Voiture.libelle}}</td>
            <td>{{data.modele_Voiture.libelle}}</td>
            <td>{{data.aquisition}}</td>
            <td>{{data.visite}}</td>
            <td>{{data.assurance}}</td>
            <td>{{data.carburant}}</td>
            <button type="button" class="btn btn-success"   data-bs-toggle="modal" data-bs-target="#Modal" (click)="modifier(data) ;show=true"><i class="fas fa-edit"></i></button>         
            <button class="btn btn-danger" (click)="delete(data.id)"><i class="fas fa-trash-alt"></i></button>

        </tr>
    </tbody>
    </table>
</div>

        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div  [formGroup]="vehiculeForm" class="modal-body">
                    <input type="text" class="form-control" placeholder="matricule" formControlName="matricule">


           
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idMarque">
                      
                      <option *ngFor="let marque of marques" [value]="marque.id" selected >{{marque.libelle}}</option>
                      
                    </select>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idModele">
                      
                      <option *ngFor="let modele of modeles" [value]="modele.id" selected >{{modele.libelle}}</option>
                      
                    </select>


                    <input type="text" class="form-control" placeholder=" date d'aquisition"formControlName="aquisition">

                    <input type="text" class="form-control" placeholder="date de visite" formControlName="visite">

                    <input type="text" class="form-control" placeholder="date d'assurance" formControlName="assurance">
            
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="carburant">
                      
                        <option selected  >carburant</option>
                        <option value="essence">essence</option>
                        <option value="gazole">gazole</option>
              
                      </select>
                </div>
                <div class="modal-footer">
                 
    
                  <button type="button" class="btn btn-primary" (click)="ajouter()" *ngIf="!show" [disabled]=""><i class="fas fa-plus"></i></button>
                  
                  <button type="button" class="btn btn-primary" (click)="sauvegarder()" *ngIf="show"><i class="far fa-save"></i></button>
                  
                </div>
              </div>
            </div>
        

          </div>
