<div class="uk-position-center uk-overlay uk-overlay-default"   style="background:none" >
   
        <h1 type="button" [routerLink]="'/administration'">Administration </h1>
  
    <br>
   
        <h1 type="button" [routerLink]="'/gestionVehicule'">Gestion véhicules</h1>
  
    <br>
   
        <h1 type="button" [routerLink]="'/entretiens'">Entretiens</h1>
  
    <br>
   
        <h1 type="button" [routerLink]="'/reparation'">Réparation</h1>
  
    <br>
    
    <h1 type="button" [routerLink]="'/transport'">Transport</h1>

    <br>


    <h1 type="button" [routerLink]="'/carburant'">Carburant</h1>
        
    

  
</div>
