
<div class="uk-position-center uk-overlay uk-overlay-default"  style="background-color: rgb(17, 17, 16);opacity: 0.9;border-radius: 10%; " >
  <h1>Entretiens</h1>
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Modal"  (click)="show=false">
  <i class="fas fa-plus"></i>
    </button>  <br><br>
     <table class="uk-table  uk-table-responsive">
        <thead>
            <tr >
                <th>matricule</th>
                <th>Type</th>
                <th>description</th>
                <th>Fournisseur</th>
                <th>Date</th>
                <th>Montant</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of entretiens" >
                <td>{{data.voiture?.matricule}}</td>
                <td>{{data.typeEntretien.libelle}}</td>
                <td>{{data.description}}</td>
                <td>{{data.fournisseur.nom}}</td>
                <td>{{data.date}}</td>
                <td>{{data.montant}}</td>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#Modal" (click)=" show=true; modifier(data)" ><i class="fas fa-edit"></i></button>         
                <button class="btn btn-danger" (click)="supprimer(data.id)" ><i class="fas fa-trash-alt"></i></button>
            </tr>
            
        </tbody>
      </table> 
    </div>

        <div  class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                 
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div [formGroup]="entretienForm" class="modal-body">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idMatricule">
                     
                      
                        <option *ngFor="let data of matricules" [value]="data.id" selected >{{data.matricule}}</option>  </select>
                        
                     
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idType">
                     
                      
                    <option *ngFor="let type of types" [value]="type.id" selected >{{type.libelle}}</option>  </select>
                    
                 

                  <input type="text" class="form-control"  placeholder="description" formControlName="description">

                  <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="idFournisseur">
                             
                    <option *ngFor="let nom of fournisseurs" [value]="nom.id" selected >{{nom.nom}}</option>
                    
                  </select>
                  
                  <input type="date" class="form-control" placeholder="date" formControlName="date">

                  <input type="text"  class="form-control" placeholder="montant" formControlName="montant">
        
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="ajouterEntretien()"*ngIf="!show"><i class="fas fa-plus"></i></button>
                  <button type="button" class="btn btn-primary" (click)="sauvegarder()" *ngIf="show"><i class="far fa-save"></i></button>
                </div>
              </div>
            </div>
