<div class="uk-position-center uk-overlay uk-overlay-default"  style="background-color: rgb(17, 17, 16); opacity: 0.9; border-radius: 10%;" >
  <br><br>
<h1 >Conducteurs</h1>
<br><br>
<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ajoutmodal"  (click)="show=false" >
  <i class="fas fa-plus"></i>
  </button>
    <table   class="uk-table  uk-table-responsive ">
        <thead>
            <tr >
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Date d'entrée</th>
                <th>Date de sortie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of data ">
                <td>{{data.nom}} </td>
                <td>{{data.prenom}}</td>
                <td>{{data.email}}</td>
                <td>{{data.telephone}}</td>
                <td>{{data.dateEntree}}</td>
                <td>{{data.dateSortie}}</td>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ajoutmodal" (click)=" show=true ; modifier(data)"><i class="fas fa-edit"></i></button>         
                <button class="btn btn-danger" (click)="deleteCond(data.id)"><i class="fas fa-trash-alt"></i></button>
            </tr>
          
    
        </tbody>
    
</table>

</div>


<div  class="modal fade" id="ajoutmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div [formGroup]="conducteurForm" class="modal-body">
        <input type="text" class="form-control"  placeholder="nom" formControlName="nom">
        <input type="text" class="form-control"  placeholder="prénom" formControlName="prenom">
        <input type="email" class="form-control"   placeholder="email" formControlName="email">
        <input type="text" class="form-control"  placeholder="téléphone" formControlName="telephone">
        <input type="date" class="form-control"  placeholder="date d'entrée" formControlName="dateEntree">
        <input type="date" class="form-control"  placeholder="date de sortie" formControlName="dateSortie">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="ajouter()" *ngIf="!show"><i class="fas fa-plus"></i></button>
        <button type="button" class="btn btn-primary" (click)="sauvegarder()" *ngIf="show"><i class="far fa-save"></i></button>
      </div>
    </div>
  </div>
</div>


