/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html{
    background-image: url(./assets/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
  
}

h1{
    color:rgb(255, 255, 255);
    text-align: center;
}


thead{
    color:rgba(243, 79, 29, 0.87);
    text-align: center;
}

tr{
    text-align: center;
}

th{
    color:orangered
}

tbody{

    color:white;
    text-align: center;
}

.btn{
  
    width: 50px;
    margin-top: 10px
    ;

   margin: 5px
}